/* App.css */
body {
  background-color: #e0f7fa;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Changed from center to flex-start for top alignment */
  height: 100vh;
}

.container {
  max-width: 600px;
  margin: 2rem auto; /* Added margin-top to push the container down from the top */
  padding: 2rem;
  background-color: #6b9297;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%; /* Add width 90% for smaller screens */
}

.header {
  text-align: center;
  margin-bottom: 2rem;
  color: #00796b;
}

.task-list {
  margin-top: 1.5rem;
}

.list-item {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item.completed .list-item-text {
  text-decoration: line-through;
  color: #a5d6a7;
}

.edit-box {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.edit-button {
  height: 100%;
}

.add-task-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-direction: column;
}

.add-task-button {
  height: 56px; /* Align with TextField height */
}

.icon-button {
  color: #00796b;
}

.icon-button.delete {
  color: #e57373;
}

.icon-button.edit {
  color: #ffb74d;
}

@media (min-width: 600px) {
  .add-task-container {
    flex-direction: row;
  }
}
